@font-face {
    font-family: "Pretendard";
    src: url("../../assets/fonts/Pretendard-Bold.subset.woff2") format("woff2");;
}

html, body {
    font-family: "Pretendard", sans-serif;
}


.ClubCountAndAlignBox_container{
    width: 100%;
    height: 30px;
    display: flex;
}

.ClubCountAndAlignBox_label{
    font-size: 17px;
    color : rgba(0,0,0,.6);
    margin-right: auto;
}



