.ClubCountAndAlignBox_container{
    width: 100%;
    height: 30px;
    display: flex;
}

.ClubCountAndAlignBox_label{
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 17px;
    color : rgba(0,0,0,.6);
    margin-right: auto;
}



