body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Pretendard-Bold';
  font-weight: normal;
  src: url('./assets/fonts/Pretendard-Bold.subset.woff2')
}
@font-face{
  font-family: 'Pretendard-Medium';
  font-weight: normal;
  src: url('./assets/fonts/Pretendard-Medium.subset.woff2')
}
@font-face{
  font-family: 'Pretendard-Semibold';
  font-weight: normal;
  src: url('./assets/fonts/Pretendard-SemiBold.subset.woff2')
}
@font-face{
  font-family: 'Pretendard-Regular';
  font-weight: normal;
  src: url('./assets/fonts/Pretendard-Regular.subset.woff2')
}
@font-face{
  font-family: 'Pretendard-Light';
  font-weight: normal;
  src: url('./assets/fonts/Pretendard-Light.subset.woff2')
}